# Database Configuration
STACK_DATABASE_CONNECTION_STRING=postgres://postgres:password@host.docker.internal:5432/stackframe
STACK_DIRECT_DATABASE_CONNECTION_STRING=postgres://postgres:password@host.docker.internal:5432/stackframe

# Server Configuration
STACK_SERVER_SECRET=23-wuNpik0gIW4mruTz25rbIvhuuvZFrLOLtL7J4tyo
NEXT_PUBLIC_STACK_API_URL=http://localhost:8102

# Seed Configuration
STACK_SEED_INTERNAL_PROJECT_ALLOW_LOCALHOST=true
STACK_SEED_INTERNAL_PROJECT_SIGN_UP_ENABLED=true
STACK_SEED_INTERNAL_PROJECT_OTP_ENABLED=true

# Email Configuration (Optional)
STACK_EMAIL_HOST=
STACK_EMAIL_PORT=
STACK_EMAIL_USERNAME=
STACK_EMAIL_PASSWORD=
STACK_EMAIL_SENDER=

# Webhook Configuration (Optional)
STACK_SVIX_SERVER_URL=
STACK_SVIX_API_KEY=

# Migration and Seed Control
STACK_SKIP_MIGRATIONS=false
STACK_SKIP_SEED_SCRIPT=false
